.s17-team1 {
  .App {
    text-align: center;
  }

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }

  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }

  .App-title {
    font-size: 1.5em;
  }

  .App-intro {
    font-size: large;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .horse {
    background: url("./horse-head.svg");
    background-size: 100%;
    background-color: green;
    padding: 15px 15px;
    margin: auto;
  }
  body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
  }

  ol,
  ul {
    padding-left: 30px;
  }

  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }

  .status {
    margin-bottom: 10px;
  }

  .square:focus {
    outline: none;
  }

  .kbd-navigation .square:focus {
    background: #ddd;
  }

  .game {
    display: flex;
    flex-direction: row;
    margin: auto;
  }

  .game-info {
    margin-left: 20px;
  }
  .winner {
    background-color: #0da000;
  }
  .normal {
    padding: 15px 15px;
    margin: auto;
    background-color: green;
  }
  .up {
    margin: auto;
  }
  .died {
    padding: 15px 15px;
    margin: auto;
    background-color: red;
  }
}
